.item {
  width: 100vw;
  height: 25vh;
  padding: 10px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
  transition: all 0.8s ease;
  align-content: end;
}

.item:hover {
  filter: grayscale(0%);
}

.text {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 250;
  color: #ffffff;
}
